/Makefile
XMLConverter/*.d
XMLConverter/*.pdb
XMLConverter/Debug
XMLConverter/Makefile
XMLConverter/Release
XMLConverter/XMLConverter
all/*.opensdf
all/*.sdf
all/*.sln
all/all.ncb
all/all.suo
all/debug
all/ipch
all/release
apputil/*.d
apputil/*.o
apputil/*.so
apputil/*.vcxproj.user
apputil/Debug
apputil/Makefile
apputil/Release
apputil/apputil.dylib
apputil/debug
apputil/demo_config.h
apputil/libapputil*
apputil/release
/bin
/config.cache
/config.log
/config.status
convexp/*.d
convexp/*.o
convexp/*.vcxproj.user
convexp/Debug
convexp/Makefile
convexp/Makefile.local
convexp/Release
convexp/convexp
convexp/debug
convexp/release
datacustom/Makefile
datacustom/gendatadep/*.vcxproj.user
datacustom/gendatadep/Debug
datacustom/gendatadep/Makefile
datacustom/gendatadep/README_datadep.txt
datacustom/gendatadep/Release
datacustom/gendatadep/gendatadep
datacustom/gendatadep/icudt*.dat
datacustom/gendatadep/libdatadep.*
datacustom/gendatadep/modifier-list.txt
datacustom/gendatadep/original
datacustom/gendatadep/resources/datadep.dat
datacustom/gendatadep/resources/datadep_dat.s
datacustom/gendatadep/resources/datadep_static.lst
datacustom/gendatadep/resources/datadep_static.mak
datacustom/gendatadep/resources/resources.lst
datacustom/gendatadep/resources/root.res
dumpdat/Makefile
dumpdat/Makefile.local
dumpdat/dumpdat
genjp/Debug
genjp/genjp.ncb
genjp/genjp.opt
genjp/genjp.plg
genjp/genjp.positions
icu4jweb/bin
icu4jweb/build
/icuapps-mk.local
/icuapps.mk
icudemos/*.dat
icudemos/*.lst
icudemos/*.mak
icudemos/*.res
icudemos/*.vcxproj.user
icudemos/Debug
icudemos/Makefile
icudemos/README_*
icudemos/Release
icudemos/debug
icudemos/demolist.h
icudemos/icudemos*
icudemos/libicudemos*
icudemos/release
icufacts/c/*.sdf
icufacts/c/*.suo
icufacts/c/Debug
icufacts/c/ipch
icufacts/c/local.mk
icufacts/c/s13_hello/*.filters
icufacts/c/s13_hello/*.user
icufacts/c/s13_hello/Debug
icufacts/c/s13_hello/s13_hello
icufacts/c/s13_hello/s13_hello.dSYM
icufacts/c/s20_msg/s20_msg
icufacts/c/s30_reshello/out
icufacts/c/s30_reshello/s30_reshello
icufacts/c/s99_sort/s99_sort
icufacts/c/s99_sort/s99_sort.exe
icusegments/Makefile
icusegments/cgi.patch
icusegments/data/icusegments-ulijson
icusegments/icusegments
icusegments/icusegments-ulijson
icusegments/icusegments.exe
icusegments/local.mk
idnbrowser/*.d
idnbrowser/*.o
idnbrowser/*.vcxproj.user
idnbrowser/Debug
idnbrowser/Makefile
idnbrowser/Release
idnbrowser/debug
idnbrowser/idnbrowser
idnbrowser/release
/include
iucsamples/c/*.sdf
iucsamples/c/*.suo
iucsamples/c/Debug
iucsamples/c/data/*.filters
iucsamples/c/data/*.user
iucsamples/c/data/Debug
iucsamples/c/data/myapp
iucsamples/c/data/myapp.dat
iucsamples/c/data/tmp
iucsamples/c/ipch
iucsamples/c/local.mk
iucsamples/c/s09_test/*.filters
iucsamples/c/s09_test/*.user
iucsamples/c/s09_test/Debug
iucsamples/c/s09_test/s09_test
iucsamples/c/s09_test/s09_test.dSYM
iucsamples/c/s13_hello/*.filters
iucsamples/c/s13_hello/*.user
iucsamples/c/s13_hello/Debug
iucsamples/c/s13_hello/s13_hello
iucsamples/c/s13_hello/s13_hello.dSYM
iucsamples/c/s14_hola/*.filters
iucsamples/c/s14_hola/*.user
iucsamples/c/s14_hola/Debug
iucsamples/c/s14_hola/s13_hello
iucsamples/c/s14_hola/s14_hola
iucsamples/c/s14_hola/s14_hola.dSYM
iucsamples/c/s23_brki/s23_brki
iucsamples/c/s24_brkw/*.filters
iucsamples/c/s24_brkw/*.user
iucsamples/c/s24_brkw/Debug
iucsamples/c/s24_brkw/s24_brkw
iucsamples/c/s27_brkl/s27_brkl
iucsamples/c/s33_res/*.filters
iucsamples/c/s33_res/*.user
iucsamples/c/s33_res/Debug
iucsamples/c/s33_res/s33_res
iucsamples/c/s33_res_c/s33_res_c
iucsamples/c/s34_coll/s34_coll
iucsamples/c/s40_pen/*.filters
iucsamples/c/s40_pen/*.user
iucsamples/c/s40_pen/Debug
iucsamples/c/s40_pen/s33_res
iucsamples/c/s40_pen/s40_pen
iucsamples/c/s41_msg/*.filters
iucsamples/c/s41_msg/*.user
iucsamples/c/s41_msg/Debug
iucsamples/c/s41_msg/s41_msg
iucsamples/c/s42_msg/*.filters
iucsamples/c/s42_msg/*.user
iucsamples/c/s42_msg/Debug
iucsamples/c/s42_msg/s42_msg
iucsamples/c/s43_named/*.filters
iucsamples/c/s43_named/*.user
iucsamples/c/s43_named/Debug
iucsamples/c/s43_named/s43_named
iucsamples/c/s45_plural/*.filters
iucsamples/c/s45_plural/*.user
iucsamples/c/s45_plural/Debug
iucsamples/c/s45_plural/s41_msg
iucsamples/c/s45_plural/s45_plural
iucsamples/j/*.class
iucsamples/j/local.mk
/lib
locexp/#
locexp/(c)
locexp/*.d
locexp/*.o
locexp/*.vcxproj.user
locexp/2005
locexp/All
locexp/Copyright
locexp/Debug
locexp/IBM
locexp/Makefile
locexp/Makefile.local
locexp/Release
locexp/Reserved
locexp/Rights
locexp/and
locexp/locexp
locexp/others.
locexp/resource/*.res
locexp/resource/.builtres
locexp/resource/Makefile
locexp/resource/Makefile.local
locexp/resource/Makefile.res
locexp/resource/escapeABundle
locexp/resource/index.txt
locexp/resource/out
locexp/resource/res_index.txt
locexp/resource/root.txt
locexp/resource/root_SAMPLE.txt
locexp/resource/tmp
locexp/tools/*.d
locexp/tools/Makefile
locexp/tools/escapeForBundle
locexp/tools/findSame
locexp/util/*.d
locexp/util/*.vcxproj.user
locexp/util/Debug
locexp/util/Makefile
locexp/util/Makefile.local
locexp/util/Release
locexp/util/lib*lxutil*
locexp2/*.d
locexp2/Makefile
locexp2/Makefile.local
locexp2/itml2cpp
locexp2/itmpl/locexp2_tmpl.cpp
locexp2/locexp2
locexp2/locexp2.exe
locexp2/locexp2.xcodeproj/project.xcworkspace/xcuserdata
locexp2/locexp2.xcodeproj/xcuserdata
locexp2/locexp2_tmpl.cpp
nbrowser/*.d
nbrowser/*.o
nbrowser/*.vcxproj.user
nbrowser/Debug
nbrowser/Makefile
nbrowser/Makefile.local
nbrowser/Release
nbrowser/debug
nbrowser/nbrowser
nbrowser/release
obsolete/*.ao
obsolete/*.d
obsolete/*.ncb
obsolete/*.opt
obsolete/*.plg
obsolete/*.vcxproj.user
obsolete/Debug
obsolete/Makefile
obsolete/Release
obsolete/icucfg.h
obsolete/libicu*.*
rbbiperf/Makefile
redemo/*.vcxproj.user
redemo/Debug
redemo/Makefile
redemo/Release
redemo/debug
redemo/redemo
redemo/release
regressionTest/CollRegressionTest/c/Makefile
regressionTest/StrsrchRegressionTest/c/Makefile
roundmode/roundmode
roundmode/roundmode.exe
rtfcvrt/Makefile
scompare/*.d
scompare/*.o
scompare/*.vcxproj.user
scompare/Debug
scompare/Makefile
scompare/Release
scompare/debug
scompare/release
scompare/scompare
test/Makefile
test/obstest/*.d
test/obstest/*.vcxproj.user
test/obstest/Debug
test/obstest/Makefile
test/obstest/Release
test/obstest/obstest
test/testdata/Makefile
translitdemo/*.vcxproj.user
translitdemo/Debug
translitdemo/Release
translitdemo/debug
translitdemo/release
translitdemo/translit
translitdemo/translitdemo
ubrowse/*.o
ubrowse/*.res
ubrowse/*.vcxproj.user
ubrowse/*ubrowseres*
ubrowse/Debug
ubrowse/Makefile
ubrowse/Makefile.local
ubrowse/Release
ubrowse/debug
ubrowse/icons.txt
ubrowse/release
ubrowse/ubrowse
ubrowse/ubrowse.msg
ubrowse/ubrowseres
ucd/*.opensdf
ucd/*.sdf
ucd/*.vcxproj.user
ucd/Debug
ucd/Makefile
ucd/Makefile.local
ucd/Release
usort/Makefile
usort/client/*.d
usort/client/*.o
usort/client/*.vcxproj.user
usort/client/Debug
usort/client/Makefile
usort/client/Release
usort/client/debug
usort/client/release
usort/client/usort
usort/lib/*.d
usort/lib/*.o
usort/lib/*.vcxproj.user
usort/lib/Debug
usort/lib/Makefile
usort/lib/Release
usort/lib/lib*
xlitomatic/Makefile
xtradata/Makefile
