* text=auto !eol
locexp/resource/fr/lx.jpg -text svneol=unset#image/jpeg
locexp/resource/root/c.gif -text
locexp/resource/root/closed.gif -text
locexp/resource/root/displayproblems.gif -text
locexp/resource/root/explore.gif -text
locexp/resource/root/help.gif -text
locexp/resource/root/help.html svneol=native#text/html
locexp/resource/root/incorrect.gif -text
locexp/resource/root/lx.jpg -text svneol=unset#image/jpeg
locexp/resource/root/lxbar_dev.jpg -text svneol=unset#image/jpeg
locexp/resource/root/lxbar_g.gif -text
locexp/resource/root/lxbar_ibm.jpg -text svneol=unset#image/jpeg
locexp/resource/root/lxbar_icu.jpg -text svneol=unset#image/jpeg
locexp/resource/root/opened.gif -text
locexp/resource/root/transliteration.html svneol=native#text/html
locexp/resource/root_head.html svneol=native#text/html
locexp/resource/root_tail.html svneol=native#text/html
locexp/resource/sr.txt -text
locexp/resource/sr.utf16.txt -text svneol=unset#application/octet-stream
locexp/resource/sr/lx.jpg -text svneol=unset#image/jpeg
uconv/charset/ISO-8859-2.txt -text svneol=unset#application/octet-stream
uconv/charset/ISO-8859-3.txt -text svneol=unset#application/octet-stream
uconv/charset/danish-ISO-8859-1.txt -text svneol=unset#application/octet-stream
uconv/charset/eucJP.txt -text svneol=unset#application/octet-stream
uconv/charset/hangul-eucKR.txt -text svneol=unset#application/octet-stream
uconv/charset/hania-eucKR.txt -text svneol=unset#application/octet-stream
uconv/charset/iso8859-1.txt -text svneol=unset#application/octet-stream
uconv/charset/koi8r.txt -text svneol=unset#application/octet-stream
uconv/utf8/armenian.txt -text svneol=unset#application/octet-stream
uconv/utf8/banviet.txt -text svneol=unset#application/octet-stream
uconv/utf8/chinese-ulysses.txt -text svneol=unset#application/octet-stream
uconv/utf8/croat.txt -text svneol=unset#application/octet-stream
uconv/utf8/danish.txt -text svneol=unset#application/octet-stream
uconv/utf8/greek.txt -text svneol=unset#application/octet-stream
uconv/utf8/hangul.txt -text svneol=unset#application/octet-stream
uconv/utf8/hania.txt -text svneol=unset#application/octet-stream
uconv/utf8/jap.txt -text svneol=unset#application/octet-stream
uconv/utf8/korean.txt -text svneol=unset#application/octet-stream
uconv/utf8/linji.txt -text svneol=unset#application/octet-stream
uconv/utf8/many.txt -text svneol=unset#application/octet-stream
uconv/utf8/maopoem.txt -text svneol=unset#application/octet-stream
uconv/utf8/russian.txt -text svneol=unset#application/octet-stream
uconv/utf8/simplechinese.txt -text svneol=unset#application/octet-stream
uconv/utf8/turkish.txt -text svneol=unset#application/octet-stream
uconv/utf8/utf-8-demo.txt -text svneol=unset#application/octet-stream
