* text=auto !eol
CSharp/conversion/App.ico -text
WinTZ/src/com/ibm/icu/dev/tools/wintz/TimeZone.reg -text
XMLConverter/samples/a-ebc-ascii.xml -text svneol=unset#text/xml
XMLConverter/samples/a-eucjp-ascii.xml -text svneol=unset#text/xml
XMLConverter/samples/a-utf8.xml -text svneol=unset#text/xml
XMLConverter/samples/animal.xml -text svneol=unset#text/xml
XMLConverter/samples/as-utf8.xml -text svneol=unset#text/xml
XMLConverter/samples/created/animal.xml -text svneol=unset#text/xml
XMLConverter/samples/created/smalljis.xml -text svneol=unset#text/xml
XMLConverter/samples/created/test -text svneol=unset#application/octet-stream
XMLConverter/samples/created/utf8.animal.xml -text svneol=unset#text/xml
XMLConverter/samples/ibm-1004.xml -text svneol=unset#text/xml
XMLConverter/samples/ibm-1038.xml -text svneol=unset#text/xml
XMLConverter/samples/ibm-1089.xml -text svneol=unset#text/xml
XMLConverter/samples/ibm-1112.xml -text svneol=unset#text/xml
XMLConverter/samples/ibm-1123.xml -text svneol=unset#text/xml
XMLConverter/samples/ibm-1250.xml -text svneol=unset#text/xml
XMLConverter/samples/ibm-1251.xml -text svneol=unset#text/xml
XMLConverter/samples/ibm-1252.xml -text svneol=unset#text/xml
XMLConverter/samples/ibm-1253.xml -text svneol=unset#text/xml
XMLConverter/samples/ibm-1254.xml -text svneol=unset#text/xml
XMLConverter/samples/ibm-1255.xml -text svneol=unset#text/xml
XMLConverter/samples/ibm-1256.xml -text svneol=unset#text/xml
XMLConverter/samples/ibm-1257.xml -text svneol=unset#text/xml
XMLConverter/samples/ibm-1275.xml -text svneol=unset#text/xml
XMLConverter/samples/ibm-1276.xml -text svneol=unset#text/xml
XMLConverter/samples/ibm-1277.xml -text svneol=unset#text/xml
XMLConverter/samples/ibm-1280.xml -text svneol=unset#text/xml
XMLConverter/samples/ibm-1281.xml -text svneol=unset#text/xml
XMLConverter/samples/ibm-1282.xml -text svneol=unset#text/xml
XMLConverter/samples/ibm-1283.xml -text svneol=unset#text/xml
XMLConverter/samples/ibm-37.xml -text svneol=unset#text/xml
XMLConverter/samples/ibm-437.xml -text svneol=unset#text/xml
XMLConverter/samples/ibm-813.xml -text svneol=unset#text/xml
XMLConverter/samples/ibm-819.xml -text svneol=unset#text/xml
XMLConverter/samples/ibm-834.xml -text svneol=unset#text/xml
XMLConverter/samples/ibm-852.xml -text svneol=unset#text/xml
XMLConverter/samples/ibm-855.xml -text svneol=unset#text/xml
XMLConverter/samples/ibm-856.xml -text svneol=unset#text/xml
XMLConverter/samples/ibm-857.xml -text svneol=unset#text/xml
XMLConverter/samples/ibm-860.xml -text svneol=unset#text/xml
XMLConverter/samples/ibm-861.xml -text svneol=unset#text/xml
XMLConverter/samples/ibm-863.xml -text svneol=unset#text/xml
XMLConverter/samples/ibm-864.xml -text svneol=unset#text/xml
XMLConverter/samples/ibm-865.xml -text svneol=unset#text/xml
XMLConverter/samples/ibm-866.xml -text svneol=unset#text/xml
XMLConverter/samples/ibm-868.xml -text svneol=unset#text/xml
XMLConverter/samples/ibm-869.xml -text svneol=unset#text/xml
XMLConverter/samples/ibm-874.xml -text svneol=unset#text/xml
XMLConverter/samples/ibm-878.xml -text svneol=unset#text/xml
XMLConverter/samples/ibm-912.xml -text svneol=unset#text/xml
XMLConverter/samples/ibm-913.xml -text svneol=unset#text/xml
XMLConverter/samples/ibm-914.xml -text svneol=unset#text/xml
XMLConverter/samples/ibm-915.xml -text svneol=unset#text/xml
XMLConverter/samples/ibm-916.xml -text svneol=unset#text/xml
XMLConverter/samples/ibm-920.xml -text svneol=unset#text/xml
XMLConverter/samples/ibm-921.xml -text svneol=unset#text/xml
XMLConverter/samples/ibm-922.xml -text svneol=unset#text/xml
XMLConverter/samples/ibm-942.xml -text svneol=unset#text/xml
XMLConverter/samples/ibm-943.xml -text svneol=unset#text/xml
XMLConverter/samples/ibm-949.xml -text svneol=unset#text/xml
XMLConverter/samples/ibm-950.xml -text svneol=unset#text/xml
XMLConverter/samples/manifest.xml -text svneol=unset#text/xml
XMLConverter/samples/p.xml -text svneol=unset#text/xml
XMLConverter/samples/p81.xml -text svneol=unset#text/xml
XMLConverter/samples/pa.xml -text svneol=unset#text/xml
XMLConverter/samples/pa1.xml -text svneol=unset#text/xml
XMLConverter/samples/personal.dtd -text svneol=unset#application/octet-stream
XMLConverter/samples/personal.xml -text svneol=unset#text/xml
XMLConverter/samples/personalj.xml -text svneol=unset#text/xml
XMLConverter/samples/pj.xml -text svneol=unset#text/xml
XMLConverter/samples/pj1.xml -text svneol=unset#text/xml
XMLConverter/samples/pr-eucjp.xml -text svneol=unset#text/xml
XMLConverter/samples/pr-latin.xml -text svneol=unset#text/xml
XMLConverter/samples/pr-xml-euc-jp.xml -text svneol=unset#text/xml
XMLConverter/samples/pr-xml-iso-2022-jp.xml -text svneol=unset#text/xml
XMLConverter/samples/pr-xml-little-endian.xml -text svneol=unset#text/xml
XMLConverter/samples/pr-xml-shift_jis.xml -text svneol=unset#text/xml
XMLConverter/samples/pr-xml-utf-16.xml -text svneol=unset#text/xml
XMLConverter/samples/pr-xml-utf-8.xml -text svneol=unset#text/xml
XMLConverter/samples/sh_jis-as.xml -text svneol=unset#text/xml
XMLConverter/samples/sh_jis.xml -text svneol=unset#text/xml
XMLConverter/samples/sm_jis-utf8.xml -text svneol=unset#text/xml
XMLConverter/samples/smalljis.xml -text svneol=unset#text/xml
XMLConverter/samples/spec.dtd -text svneol=unset#application/octet-stream
XMLConverter/samples/test.xml -text svneol=unset#text/xml
XMLConverter/samples/testit.xml -text svneol=unset#text/xml
XMLConverter/samples/utf8-sm_jis.xml -text svneol=unset#text/xml
XMLConverter/samples/x.xml -text svneol=unset#text/xml
apputil/data/1x1.gif -text
apputil/data/common-footer.html svneol=native#text/html
apputil/data/common-leftnav.html svneol=native#text/html
apputil/data/common-masthead.html svneol=native#text/html
apputil/data/icu.css svneol=native#text/css
apputil/data/lines-gradient.gif -text
apputil/data/lines.gif -text
apputil/data/main.css svneol=native#text/css
datacustom/Makefile.in -text
datacustom/README -text
datacustom/build.xml -text
datacustom/data/datacustom-header.html -text
datacustom/data/datacustom.xml -text
datacustom/data/root/datapackage.xsd -text
datacustom/gendatadep/Makefile.in -text
datacustom/gendatadep/gendatadep.cpp -text
datacustom/gendatadep/gendatadep.vcproj -text
datacustom/gendatadep/listmod.cpp -text
datacustom/gendatadep/listmod.h -text
datacustom/gendatadep/makedata.mak -text
datacustom/gendatadep/resources/datadep.mk -text
datacustom/gendatadep/resources/pkgdatain.txt -text
datacustom/gendatadep/resources/root.txt -text
datacustom/gendatadep/ucmlocal.mk -text
datacustom/source/com/ibm/icu/datacustom/DataCustomizer.java -text
icu4jweb/.project -text
icu4jweb/WebContent/META-INF/MANIFEST.MF -text
icu4jweb/WebContent/bidi.jsp -text
icu4jweb/WebContent/demolist.jsf -text
icu4jweb/WebContent/escaper.jsp -text
icu4jweb/WebContent/files.jsp -text
icu4jweb/WebContent/files_all.jsp -text
icu4jweb/WebContent/formatTest.jsp -text
icu4jweb/WebContent/icuinfo.jsp -text
icu4jweb/WebContent/index.jsp -text
icu4jweb/WebContent/interval.jsp -text
icu4jweb/WebContent/numero.jsp -text
icu4jweb/WebContent/patina.jpg -text svneol=unset#image/jpeg
icu4jweb/WebContent/patina.jsp -text
icu4jweb/WebContent/testLocale.jsp -text
icu4jweb/WebContent/tuthu.jsp -text
icu4jweb/WebContent/uri.jsp -text
icudemos/icudemos-content-templ.html svneol=native#text/html
icudemos/icudemos-page-templ.html svneol=native#text/html
icudemos/makedata.mak -text
/install-sh -text
jle/.classpath -text
jle/.project -text
jle/.settings/org.eclipse.jdt.core.prefs -text
jle/.settings/org.eclipse.jdt.ui.prefs -text
locexp/resource/da.txt -text svneol=unset#application/octet-stream
locexp/resource/fr/displayproblems.gif -text
locexp/resource/fr/explore.gif -text
locexp/resource/fr/lx.jpg -text svneol=unset#image/jpeg
locexp/resource/root/c.gif -text
locexp/resource/root/closed.gif -text
locexp/resource/root/displayproblems.gif -text
locexp/resource/root/explore.gif -text
locexp/resource/root/help.gif -text
locexp/resource/root/help.html svneol=native#text/html
locexp/resource/root/incorrect.gif -text
locexp/resource/root/locexp-header.html svneol=native#text/html
locexp/resource/root/lx.jpg -text svneol=unset#image/jpeg
locexp/resource/root/lxbar_dev.jpg -text svneol=unset#image/jpeg
locexp/resource/root/lxbar_g.gif -text
locexp/resource/root/lxbar_ibm.jpg -text svneol=unset#image/jpeg
locexp/resource/root/lxbar_icu.jpg -text svneol=unset#image/jpeg
locexp/resource/root/opened.gif -text
locexp/resource/root/sortHelp.html svneol=native#text/html
locexp/resource/root/tab_aleft.gif -text
locexp/resource/root/tab_aright.gif -text
locexp/resource/root/tab_bot.gif -text
locexp/resource/root/transliteration.html svneol=native#text/html
locexp/resource/sr.txt -text
locexp/resource/sr/lx.jpg -text svneol=unset#image/jpeg
locexp/resource/zh_SG/displayproblems.gif -text
locexp/resource/zh_SG/dp.gif -text
locexp/resource/zh_SG/explore.gif -text
locexp/resource/zh_TW.txt -text
regressionTest/CollRegressionTest/README -text
regressionTest/CollRegressionTest/c/Makefile.in -text
regressionTest/CollRegressionTest/c/collationRegressionTest.cpp -text
regressionTest/CollRegressionTest/collRegData.txt -text
regressionTest/CollRegressionTest/collRegTest.dat -text
regressionTest/CollRegressionTest/j/src/CollationRegTest.java -text
regressionTest/CollRegressionTest/parseCollationResults.pl -text
regressionTest/StrsrchRegressionTest/README -text
regressionTest/StrsrchRegressionTest/c/Makefile.in -text
regressionTest/StrsrchRegressionTest/c/strsrchRegressionTest.cpp -text
regressionTest/StrsrchRegressionTest/parseStrsrchResults.pl -text
richedit/classes/src/com/ibm/richtext/awtui/package.html svneol=native#text/html
richedit/classes/src/com/ibm/richtext/demo/package.html svneol=native#text/html
richedit/classes/src/com/ibm/richtext/print/package.html svneol=native#text/html
richedit/classes/src/com/ibm/richtext/styledtext/package.html svneol=native#text/html
richedit/classes/src/com/ibm/richtext/swingui/package.html svneol=native#text/html
richedit/classes/src/com/ibm/richtext/textapps/resources/unicode.arabic.red -text
richedit/classes/src/com/ibm/richtext/textapps/resources/unicode.hebrew.red -text
richedit/classes/src/com/ibm/richtext/textformat/package.html svneol=native#text/html
richedit/classes/src/com/ibm/richtext/textlayout/attributes/package.html svneol=native#text/html
richedit/classes/src/com/ibm/richtext/textpanel/package.html svneol=native#text/html
test/testdata/uni-text.bin -text
ubrowse/extractStrings.sed -text
ubrowse/icons/all-x.gif -text
ubrowse/icons/all.gif -text
ubrowse/icons/block-x.gif -text
ubrowse/icons/block.gif -text
ubrowse/icons/ch-x.gif -text
ubrowse/icons/ch.gif -text
ubrowse/icons/column-x.gif -text
ubrowse/icons/column.gif -text
ubrowse/icons/ubrowse.css svneol=native#text/css
ubrowse/res/root.xlf -text
ucd/ucd.vcproj -text
ufortune/res/ComboList.ico -text
