/Makefile
XMLConverter/*.d
XMLConverter/*.pdb
XMLConverter/Debug
XMLConverter/Makefile
XMLConverter/Release
XMLConverter/XMLConverter
all/debug
all/release
apputil/*.d
apputil/*.o
apputil/*.so
apputil/Debug
apputil/Makefile
apputil/Release
apputil/debug
apputil/release
/bin
/config.cache
/config.log
/config.status
convexp/*.d
convexp/*.o
convexp/Debug
convexp/Makefile
convexp/Makefile.local
convexp/Release
convexp/convexp
convexp/debug
convexp/release
dumpdat/Makefile
genjp/Debug
genjp/genjp.ncb
genjp/genjp.opt
genjp/genjp.plg
genjp/genjp.positions
icudemos/debug
icudemos/release
idnbrowser/*.d
idnbrowser/*.o
idnbrowser/Debug
idnbrowser/Makefile
idnbrowser/Release
idnbrowser/debug
idnbrowser/idnbrowser
idnbrowser/release
/include
/lib
locexp/#
locexp/(c)
locexp/*.d
locexp/*.o
locexp/2005
locexp/All
locexp/Copyright
locexp/Debug
locexp/IBM
locexp/Makefile
locexp/Makefile.local
locexp/Release
locexp/Reserved
locexp/Rights
locexp/and
locexp/locexp
locexp/others.
locexp/resource/*.res
locexp/resource/Makefile
locexp/resource/Makefile.res
locexp/resource/escapeABundle
locexp/resource/index.txt
locexp/resource/root.txt
locexp/resource/root_SAMPLE.txt
locexp/resource/tmp
locexp/tools/*.d
locexp/tools/Makefile
locexp/tools/escapeForBundle
locexp/tools/findSame
locexp/util/*.d
locexp/util/Debug
locexp/util/Makefile
locexp/util/Release
nbrowser/*.d
nbrowser/*.o
nbrowser/Debug
nbrowser/Makefile
nbrowser/Makefile.local
nbrowser/Release
nbrowser/debug
nbrowser/nbrowser
nbrowser/release
obsolete/*.ao
obsolete/*.d
obsolete/*.ncb
obsolete/*.opt
obsolete/*.plg
obsolete/Debug
obsolete/Makefile
obsolete/Release
obsolete/icucfg.h
obsolete/libicu*.*
redemo/debug
redemo/release
rtfcvrt/Makefile
scompare/*.d
scompare/*.o
scompare/Debug
scompare/Makefile
scompare/Release
scompare/debug
scompare/release
scompare/scompare
test/obstest/*.d
test/obstest/Debug
test/obstest/Makefile
test/obstest/Release
translitdemo/debug
translitdemo/release
ubrowse/*.o
ubrowse/Debug
ubrowse/Makefile
ubrowse/Release
ubrowse/debug
ubrowse/release
ubrowse/ubrowseres
usort/Makefile
usort/client/*.d
usort/client/*.o
usort/client/Debug
usort/client/Makefile
usort/client/Release
usort/client/debug
usort/client/release
usort/lib/*.d
usort/lib/*.o
usort/lib/Debug
usort/lib/Makefile
usort/lib/Release
xlitomatic/Makefile
xtradata/Makefile
